<% title = "会社概要"; %>
<% description = "誰よりも身近なパートナーへ"; %>
<% pageName = "company"; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include("./../../include/_head.ejs") %>
<body>
  <div>
    <%- include("./../../include/_header-common.ejs") %>
    <div class="l-main">
      <section class="p-company">
        <h1 class="c-secondaryTitle">COMPANY
          <span class="c-secondarySubtitle">- 会社概要 -</span>
        </h1>
        <div class="p-company__inner">
          <div class="p-company__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.394275410451!2d139.691712515288!3d35.69191403699337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd5a8ee96cf%3A0xbd7e9b1efc4bb781!2z5paw5a6_5LiJ5LqV44OT44Or44OH44Kj44Oz44Kw!5e0!3m2!1sja!2sjp!4v1611826133548!5m2!1sja!2sjp" width="550" height="430" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <section class="p-company__overview">
            <h2 class="p-companyOverview__title">株式会社アクセル <span>IT・Web事業部</span></h2>
            <ul class="p-companyOverview__lists">
              <li>東京都新宿区西新宿2-1-1<span class="c-noBreak">新宿三井ビルディング36F</span></li>
              <li>TEL：03-6304-5221 / FAX： 03-6304-5231</li>
            </ul>
            <h2 class="p-companyOverview__title">電車でのアクセス</h2>
            <ul class="p-companyOverview__lists">
              <li>JR 小田急線 京王線 「新宿駅」 徒歩約６分</li>
              <li>東京メトロ丸ノ内線「西新宿駅」 徒歩約２分</li>
              <li>都営地下鉄大江戸線「都庁前駅」 徒歩約１分</li>
              <li>都営地下鉄新宿線「新宿駅」徒歩約１１分</li>
            </ul>
          </section>
        </div>
      </section>
    </div>
    <%- include("./../../include/_footer-common.ejs") %>
  </div>
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
</body>
</html>