<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__logo">
      <a class="l-footerLogo__inner" href="/">
        <img class="l-footerLogo__image" src="/img/logo_black.svg" alt="ロゴ">
        <p class="l-footerLogo__text">IT・Web事業部</p>
      </a>
    </div>
    <ul class="l-footer__menu">
      <li><a class="c-link__footer" href="/index.html">トップ</a></li>
      <li><a class="c-link__footer" href="/service/index.html">事業内容</a></li>
      <li><a class="c-link__footer" href="/company/index.html">会社概要</a></li>
      <li><a class="c-link__footer" href="/recruit/index.html">採用情報</a></li>
      <li><a class="c-link__footer c-link__footer-contact" href="/contact/index.html" >お問い合わせ</a></li>
    </ul>
  </div>
  <div class="l-footer__address">東京都新宿区西新宿2-1-1新宿三井ビルディング36F</div>
  <div class="l-footer__number">TEL: 03-6304-5221 / FAX: 03-6304-5231</div>
  <div class="l-footer__copyright">copyright 株式会社アクセル All Rights Reserved.</div>
</footer>