<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>株式会社アクセル　IT・Web事業部｜<%= title %></title>
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" href="/css/<%= pageName %>/<%= pageName %>.css">
</head>