<header class="l-header">
  <div class="l-header__inner">
    <h1 class="c-primaryTitle">
      <a class="l-headerLogo__inner" href="/">
        <img class="l-headerLogo__image" src="/img/logo_black.svg" alt="株式会社アクセル">
        <span class="l-headerLogo__text">IT・Web事業部</span>
      </a>
    </h1>
    <ul class="l-header__menu">
      <li><a class="c-link__header" href="#service">事業内容</a></li>
      <li><a class="c-link__header header__menu__top" href="#company">会社概要</a></li>
      <li><a class="c-link__header header__menu__top" href="/recruit/index.html">採用情報</a></li>
      <li><a class="c-link__header-contact" href="/contact/index.html" >お問い合わせ</a></li>
    </ul>
    <ul class="l-hamburgerMenu">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="l-header__sp">
    <div class="l-headerSp__inner">
      <ul class="l-headerSp__menu">
        <li><a class="c-link__header-ham" href="#service">事業内容</a></li>
        <li><a class="c-link__header-ham" href="#company">会社概要</a></li>
        <li><a class="c-link__header-ham" href="/recruit/index.html">採用情報</a></li>
        <li><a class="c-link__header-ham" href="/contact/index.html" >お問い合わせ</a></li>  
      </ul>
    </div>
  </div>
</header>