@import "../../../foundation/_base.scss";
@import "../../../foundation/_reset.scss";
@import "../../../foundation/_var.scss";
@import "../../../object/utility/_utility.scss";
@import "../../../layout/_content.scss";
@import "../../../layout/_footer.scss";
@import "../../../layout/_header.scss";
@import "../../../layout/_main.scss";
@import "../../../object/component/_component.scss";

.p-contact {
    padding: 120px 0 100px;
    margin: 0 auto;
    background-color: #F7F6F5;
}

.p-contact__lead {
    font-size: 18px;
    color: #4D3B3B;
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.35;
    .p-contact__lead__text {
        display: inline-block;
    }
}

.p-contact__form {
    max-width: 960px;
    padding: 0 140px;
    margin: 0 auto;
}

.p-contact__formItem {
    display: flex;
    padding: 30px 20px;
    border-top: #4D3B3B solid 1px;
    justify-content: space-between;
    position: relative;

    .p-contact__formTitle {
        display: inline-block;
        width: 37%;
        padding: 10px 10px 0 0;
    }

    .p-contact__formText {
        width: 60%;
        .p-contact__input {
            width: 100%;
            padding: 10px 5px;
            border: 1px #4D3B3B solid;
            border-radius: 6px;
            color: #000000;
            box-sizing: border-box;
        }
        .p-contact__select {
            width: 100%;
            background-color: transparent;
            padding: 10px 5px;
            border: none;
            appearance: none;
            z-index: 1;
            color: #000000;
            position: relative;
        }
        .p-contact__textarea {
            width: 100%;
            height: 400px;
            padding: 10px 5px;
            border: 1px #4D3B3B solid;
            border-radius: 6px;
            color: #000000;
            box-sizing: border-box;
        }
    }
    .p-contact__selectWrap{
        border: 1px #4D3B3B solid;
        border-radius: 6px;
        background-color: #ffffff;
    }
    .p-contact__selectWrap::after{
        position: absolute;
        content: "";
        right: 28px;
        top: 40px;
        width: 10px;
        height: 10px;
        border: 1px solid;
        border-color: transparent transparent #4D3B3B #4D3B3B;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .p-contact__selectWrap.p-contact__selectWrap--confirm::after{
        display: none;
    }
}

.p-contact__formItem:last-of-type {
    border-bottom: #4D3B3B solid 1px;
}

.p-contact__privacy {
    text-align: center;
    margin-top: 80px;
    .p-contact__privacyText{
        line-height: 1.35;
    }
    .p-contact__privacyUrl {
        margin: 10px 0 20px;

        .p-contact__privacyUrl__link {
            text-decoration: underline;
            color: blue;
        }
    }
}

.p-contact__submit {
    display: block;
    background-color: #2E557C;
    color: #ffffff;
    margin: 60px auto 0;
    font-size: 24px;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.p-contact__submit.p-contact__submit--disable{
    background-color: #aaaaaa;
}

.is-error{
    color:#FF0000;
    padding-top:10px;
    display: block;
}

@media screen and (max-width:768px) {
    .p-contact {
        padding: 120px 0 60px;
    }

    .p-contact__lead {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .p-contact__form {
        max-width: 500px;
        padding: 0 15px;
        font-size: 14px;
    }
    
    .p-contact__formItem {
        display: block;
        padding: 30px 0;
    
        .p-contact__formTitle {
            width: 100%;
            padding:0 0 10px;
        }
    
        .p-contact__formText {
            width: 97%;
            .p-contact__textarea {
                height: 322px;
            }
        }
        .p-contact__selectWrap::after{
            top: 65px;
        }
    } 

    .p-contact__privacy {
        margin-top: 40px;
    }

    .p-contact__submit {
        margin: 40px auto 0;
        font-size: 16px;
        width: 200px;
        height: 40px;
    }
}