@import "../../../foundation/_base.scss";
@import "../../../foundation/_reset.scss";
@import "../../../foundation/_var.scss";
@import "../../../object/utility/_utility.scss";
@import "../../../layout/_content.scss";
@import "../../../layout/_footer.scss";
@import "../../../layout/_header.scss";
@import "../../../layout/_main.scss";
@import "../../../object/component/_component.scss";
.l-main {
  width: 100%;
  background-color: #f7f6f5;
}
.p-mainVisual {
  height: 240px;
  background-image: url("/img/recruit_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}
.p-wapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 80px 150px;
}
.p-recruitSection + .p-recruitSection {
  margin-top: 150px;
}
.p-recruitSection > .c-secondaryTitle {
  font-size: 26px;
  text-align: left;
  padding: 0;
}
.p-recruitSection .c-secondarySubtitle {
  font-size: 16px;
  margin-top: 10px;
}
.c-secondaryTitle + .p-recruitSection__contents {
  margin-top: 100px;
}
.p-about {
  padding-top: 60px;
}
.p-flow {
  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &List__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__circle {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #4d3b3b;
    border-radius: 50%;
    margin: 0 auto;
  }
  &__text {
    position: absolute;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fbfbfb;
    font-size: 16px;
    line-height: 1.3;
  }
  &__no {
    font-size: 24px;
    font-weight: bold;
  }
  &List__item:not(:last-child):after {
    content: "";
    position: relative;
    top: 2.5rem;
    left: 50%;
    height: 2px;
    background-color: #4d3b3b;
    opacity: 0.3;
    order: -1;
  }
  &__box {
    padding: 0 15px;
  }
  &__title {
    color: #4d3b3b;
    font-size: 16px;
    margin: 20px 0;
  }
  &__img {
    margin: auto;
    height: 90px;
  }
}
.p-flow.p-flow__br--sp {
  display: none;
}

//詳細ページ
.p-mainVisual.p-mainVisual--detail {
  background-image: url("/img/recruit_img1.jpg");
  background-position: 50% 50%;
}
.p-detailSection {
  margin-top: 100px;
  padding: 70px 40px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #d8d6d5;
  border-radius: 30px;
  color: #4d3b3b;
}
.p-detailSection__title {
  font-size: 20px;
  margin:0 0 28px 10px;
}
.p-table {
  &__contents__title {
    font-weight: bold;
    line-height: 1.8;
  }
  &__contents__text {
    line-height: 1.5;
  }
  &__contents__text + &__contents__text,
  &__contents + &__contents {
    margin-top: 16px;
  }
  &__contents__link {
    font-weight: bold;
    color: #005c6e;
    text-decoration-line: underline;
  }
}
.p-table__contents__text.p-table__contents__text--bold {
  font-weight: bold;
  line-height: 1.8;
}

.c-more {
  &Wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    transition: max-height 1s;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: 1s;
      background: linear-gradient(to bottom, transparent 65%, #fbfbfb 100%);
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    color: #0491ad;
    background-color: #fbfbfb;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
    z-index: 1;
  }
}
.open {
  max-height: 2000px;
  transition: max-height 1s;
  &:after {
    z-index: -1;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-mainVisual {
    height: 180px;
    background-position: left 50% top 20%;
  }
  .p-wapper {
    padding: 0 30px 100px;
  }
  .p-recruitSection + .p-recruitSection{
    margin-top: 80px;
  }
  .c-secondaryTitle + .p-recruitSection__contents {
    margin-top: 35px;
  }
  .p-recruitSection > .c-secondaryTitle {
    font-size: 24px;
  }
  .p-recruitSection .c-secondarySubtitle {
    font-size: 14px;
  }
  .p-about{
    padding-top: 30px;
  }
  .p-flow {
    &List {
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
    }
    &List__item + &List__item {
      margin-top: 20px;
    }
    &__circle {
      height: 48px;
      width: 48px;
      margin: 0 ;
    }
    &__text {
      font-size: 12px;
      line-height: 1.2;
    }
    &__no {
      font-size: 14px;
    }
    &List__item:not(:last-child):after {
      display: none;
    }
    &__box {
      display: flex;
      padding: 10px 5px;
      border-bottom: 2px solid #d8d6d5;
      position: relative;
      align-items: center;
    }
    &__box::before,
    &__box::after {
      position: absolute;
      left: 30px;
      bottom: -15px;
      width: 30px;
      height: 15px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      content: '';
    }
    &__box::before {
      background-color: #d8d6d5;
    }
    &__box::after {
      bottom: -11px;
      background-color: #f7f6f5;
    }
    &List__item:last-child > &__box::before,
    &List__item:last-child > &__box::after {
      display: none;
    }
    &__title {
      margin: 20px auto;
    }
    &__img {
      height: 50px;
      display: block;
    }
  }
  .p-flow.p-flow__br--sp {
    display: block;
  }

  //詳細ページ
  .p-detailSection {
    margin-top: 60px;
    padding: 50px 15px;
  }
  .p-detailSection__title {
    font-size: 16px;
    margin:0 0 28px 0px;
    line-height: 1.5;
  }
  .p-table {
    &__contents__text {
      line-height: 1.7;
    }
  }
  //つづきみる
  .p-gradItem {
    max-height: 200px;
  }
}

//エントリーフォーム
.p-entry {
  padding: 120px 0 100px;
  margin: 0 auto;
  background-color: #f7f6f5;
  color: #4d3b3b;
  &__form {
    max-width: 960px;
    padding: 0 140px;
    margin: 0 auto;
  }
  &__category {
    font-size: 18px;
    font-weight: bold;
    margin: 70px 0px;
    text-align: left;
  }
}
.p-entry__form {
  &Item {
    display: flex;
    padding: 30px 20px;
    border-top: #d8d6d5 solid 1px;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  &Title {
    display: inline-block;
    width: 37%;
    padding: 0px 10px 0 0; 
  }
  &Text {
    width: 60%;
    &__comment{
      font-size: 14px;
      margin-bottom: 5px;
      opacity: 0.9;
    }
  }
}
.p-entry {
  &__input {
    width: 100%;
    padding: 10px;
    color: #4d3b3b;
    border: 1px solid #4d3b3b;
    border-radius: 6px;
    box-sizing: border-box;

  }
  &__textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid #4d3b3b;
    border-radius: 6px;
    box-sizing: border-box;
  }
  &__input:focus,
  &__textarea:focus {
    outline: 2px solid #4d3b3b;
    opacity: 0.5;
  }
}
.p-entry.p-entry--noborder {
  border: none;
}
::placeholder {
  color: #333333;
  opacity: 0.8;
}
.p-entry__formItem:last-of-type {
  border-bottom: #d8d6d5 solid 1px;
}
.p-entry__privacy {
  text-align: center;
  margin-top: 80px;
  &Text{
    line-height: 1.35;
  }
  &Url {
    margin: 10px 0 20px;
    .p-entry__privacyUrl__link {
      text-decoration: underline;
      color: #005c6e
    }
  }
}
.p-entry__submit {
  margin: 60px auto 0;
  }
.p-entry__submit.p-entry__submit--disable{ //レ点未
  background-color: #aaaaaa;
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

.is-error{
  color:#e1523d;
  padding-top:10px;
  display: block;
}
.mw_wp_form .p-fileLabel {
position: relative;
display: inline-block;
padding: 10px 40px;
text-decoration: none;
background-color: #4d3b3b;
color: #fbfbfb;
border-radius: 4px;
font-size: 14px;
/* 岩城追加分 */
min-width: 116px;
text-align: center;

cursor: pointer;
  & input{
    display: none;
  }
  &:active {
    border-bottom: solid 5px #edc762;
    box-shadow: none;
  }
}
.p-fileLabel.p-fileLabel--selected {//添付あり
  background:rgba(77,59,59,0.2);
  color: #4d3b3b;
}
.mw_wp_form .p-fileLabel input {
  display: none;
}
//エントリーフォームSP
@media screen and (max-width:768px) {
  .p-entry {
    padding: 70px 0 60px;
    &__form {
      max-width: 500px;
      padding: 0 15px;
      font-size: 14px;
    }
    &__category {
      font-size: 14px;
      margin: 40px 0;
    }
  }
  .p-entry__form {
    &Item {
      display: block;
      padding: 30px 0;
    }
    &Title {
      width: 100%;
      padding:0 0 10px;
    }
    &Text {
      width: 97%;
    }
    .p-entry {
      &__input {
        font-size: 12px;
      }
      &__textarea {
        font-size: 14px;
        height: 150px;
      }
    }
    .p-entry__selectWrap::after{
      top: 65px;
    }
  } 
  .p-entry__privacy {
    margin-top: 40px;
  }
  .p-entry__submit {
    margin:40px auto 0;
  }
}

//入力確認画面
.p-entry__revise {
  display: block;
  margin-top: 30px;

  &__link {
    color: #005c6e;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-top: 30px;
  }
  &__link:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

//入力完了
.p-completionText {
  margin: 150px auto 50px;
  display: block;
  text-align: center;
  max-width: 760px;
  line-height: 2;

  &__top{
    text-align: center;
    margin-bottom: 100px;
  }
  &__top__link{
    color: #005c6e;
  }
  &__top__link:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

//入力完了SP
@media screen and (max-width:768px) {
  .p-completionText {
    max-width: 480px;
  }
}