<% title="エントリー" ; %>
  <% description="誰よりも身近なパートナーへ" ; %>
    <% pageName="recruit" ; %>

      <!DOCTYPE html>
      <html lang="ja">
      <%- include("./../../include/_head.ejs") %>

        <body>
          <div>
            <%- include("./../../include/_header-common.ejs") %>
              <div class="l-main">
                <section class="p-entry">
                  <h1 class="c-secondaryTitle">ENTRY
                    <span class="c-secondarySubtitle">- エントリー -</span>
                  </h1>
                  <form id="form_entry" action="">
                    <div class="p-entry__form">
                      <div class="c-stepbar">
                        <div class="c-stepbar__item">1.ご入力</div>
                        <div class="c-stepbar__item">2.ご確認</div>
                        <div class="c-stepbar__item c-stepbar__item--active">3.完了</div>
                      </div>
                      <p class="p-completionText">お申し込みいただき、ありがとうございました。<br>ご入力いただいたメールアドレス宛に、お申込み内容についての確認メールをお送りいたしましたので、ご確認をお願いいたします。</p>
                      <p class="p-completionText__top">
                        <a class="p-completionText__top__link" href="/">トップへ戻る</a>
                      </p>
                </section>
              </div>
              <%- include("./../../include/_footer-common.ejs") %>
          </div>
          <script src="/js/lib/jquery.min.js"></script>
          <script src="/js/lib/jquery.validate.min.js"></script>
          <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
        </body>

      </html>