<% title = "採用詳細"; %>
<% description = "誰よりも身近なパートナーへ"; %>
<% pageName = "recruit"; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include("./../../include/_head.ejs") %>
<body>
  <div>
    <%- include("./../../include/_header-common.ejs") %>
    <div class="l-main">
      <div class="p-mainVisual p-mainVisual--detail"></div>
      <div class="p-wapper">
        <section class="p-detailSection">
          <h1 class="p-detailSection__title">【Webクリエイター】＊ゼロからWebデザインのプロへ＊選べる研修</h1>
          <table class="c-table">
            <tr class="c-table__row">
              <th class="c-table__title">仕事内容</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        Web制作のクリエイターとして、デザインやコーディング、構築、運用等ができるように成長！★ゼロから成長スピードに合わせた育成プランをご用意♪
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        具体的には
                      </div>
                      <p class="p-table__contents__text">
                        担当プロジェクトは一人ひとりのスキル感、将来像をお伺いしながら決めます！たくさんの将来の選択肢をもってほしいので、幅広いスキル習得のためのカリキュラムで育成★
                      </p>
                      <p class="p-table__contents__text">
                        ▼スキル習得の一例<br>
                        STEP1：ビジネス実務研修＆Web制作スキル習得<br>
                        STEP2：スキルUPをしながらポートフォリオ構築<br>
                        STEP3：実際のプロジェクトへ
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        教育研修制度
                      </div>
                      <p class="p-table__contents__text">
                        あなたの今のスキルを確認して、学習カリキュラムを一緒に決めていきます。
                      </p>
                      <p class="p-table__contents__text">
                        ■Webデザイン・制作研修<br>
                        デザイン学習<br>
                        サイトのコーティング<br>
                        JavaScript学習<br>
                        など初級～上級まで段階的に学ぶ！<br><br>
                        ■ビジネス実務研修<br>
                        コミュニケーションスキル<br>
                        クライアント応対<br>
                        PCスキル<br>
                        などを講習&実際の業務を通じて習得！
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        将来のキャリアパス
                      </div>
                      <p class="p-table__contents__text">
                        自分のペースで働きながらスキルアップを！<br>
                        実際に<br>
                        ●ディレクションスキルを身につけフリーランスで働く方<br>
                        ●大きなプロジェクトに抜擢されるメンバー<br>
                        ●コーディングの楽しさに目覚めてWeb構築・設計を極めるメンバー<br>
                        ●入社後にキャリアチェンジをしたメンバー<br>
                      </p>
                      <p class="p-table__contents__text">
                        ――あなたに合う多彩な選択肢を応援しています♪
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">雇用形態</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        正社員
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>
                
              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">勤務時間</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        10:00～19:00（実働8h、休憩1h）<br>
                        ※プロジェクト先により変動あり
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ★慣れてきたら、フレックスタイム制も相談OK！<br>
                        （職種による／標準労働時間：8時間）
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ★残業ほとんどなし！基本定時退社推奨♪<br>
                        ワークライフバランスも充実！残業があっても月10～15h♪<br>
                        ほとんどのスタッフが定時になったら帰宅☆彡
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">勤務地</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        東京支社、横浜支店、船橋支店、大宮支店<br>
                        または、一都三県のプロジェクト先
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ※転居を伴う転勤なし<br>
                        ※配属先は希望を伺い決定します<br>
                        ※プロジェクトにより一部テレワークも併用
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        ＜関東拠点＞
                      </div>
                      <p class="p-table__contents__text">
                        ・東京支社：東京都新宿区西新宿2-1-1 新宿三井ビルディング36F<br>
                        ・横浜支店：神奈川県横浜市西区北幸2-9-40 銀洋ビル5F<br>
                        ・船橋支店：千葉県船橋市本町2-1-34 船橋スカイビル3F<br>
                        ・大宮支店：埼玉県さいたま市大宮区宮町1-36 見留ビル5F<br>
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ※リモートワークは熟練度合いや担当業務によります。業務に慣れたり、社内メンバーとしっかりコミュニケーションをとっていただきたいので、入社後すぐは難しいのですが、将来的には在宅勤務への移行の可能性あり！
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">交通アクセス</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ・東京支社：都庁前駅から1分、西新宿駅から6分、新宿駅から8分<br>
                        ・横浜支店：横浜駅から5分<br>
                        ・船橋支店：船橋駅から5分、京成船橋駅から3分<br>
                        ・大宮支店：大宮駅から5分<br>
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">給与</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        月給220,000円以上
                      </div>
                      <p class="p-table__contents__text">
                        ★経験やスキル等を考慮して決定します。
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ※試用期間6ヶ月は月給200,000円以上(他同条件)となります。
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        モデル年収例
                      </div>
                      <p class="p-table__contents__text">
                        年収350万円 ／ 25歳 Webクリエイター職 ／入社2年目<br>
                        年収450万円 ／ 30歳 Webクリエイター職 ／入社3年目<br>
                        年収600万円 ／ 35歳 Webクリエイター職 ／入社5年目<br>
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">昇給・賞与</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        昇給
                      </div>
                      <p class="p-table__contents__text">
                        年1回
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <div class="p-table__contents__title">
                        賞与
                      </div>
                      <p class="p-table__contents__text">
                      年2回
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">諸手当</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ・交通費支給（全額）<br>
                        ・残業手当<br>
                        ・役職手当<br>
                        ・インセンティブ制度（職種による）<br>
                        ほか
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">休日・休暇</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text p-table__contents__text--bold">
                        ★年間休日129日＋有休消化5日以上♪
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ・完全週休2日制（土日）<br>
                        ・祝日<br>
                        ・GW休暇<br>
                        ・夏季休暇<br>
                        ・年末年始休暇<br>
                        ・有給休暇（取得率80％以上）<br>
                        ・慶弔休暇<br>
                        ・産前産後休暇<br>
                        ・育児休暇<br>
                        ほか
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ★男女ともに産育休の取得は実績多数あります♪
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">福利厚生</th>
              <td class="c-table__detail">

                <div class="c-moreWrap">
                  <div class="c-more__item">
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        ・各種社会保険完備<br>
                        ・定期健康診断<br>
                        ・メンタルヘルスケア<br>
                        ・時差出勤あり（状況による）<br>
                        ・フレックスタイム制（応相談）<br>
                        ・服装自由／オフィスカジュアルOK<br>
                        ・在宅勤務／テレワーク導入（状況による）<br>
                        ・誕生日祝い（ケーキやプレゼントをご用意しています！）<br>
                        ・基礎研修制度（ビジネスマナー・PCスキルなど）<br>
                        ・階層別研修制度<br>
                        ・社員旅行(★)<br>
                        ・歓迎会など各種イベント(★)<br>
                        ・クラブ活動（ゴルフ部、バドミントン部、フットサル部など）(★)<br>
                        ・レクリエーション（ダーツ大会、お花見など）(★)<br>
                        ほか
                      </p>
                    </div>
                    <div class="p-table__contents">
                      <p class="p-table__contents__text">
                        (★)もちろん任意参加です！復活の声が多いので…徐々に解禁中です！
                      </p>
                    </div>
                  </div>
                  <button class="c-more__btn">つづきをみる</button>
                </div>

              </td>
            </tr>
            <tr class="c-table__row">
              <th class="c-table__title">本社HP</th>
              <td class="c-table__detail">
                <div class="p-table__contents">
                  <p class="p-table__contents__text">
                    株式会社アクセル本社HPは
                    <a class="p-table__contents__link" href="https://www.axcell-inc.jp/" target="_blank" rel="noopener noreferrer">こちら</a>
                  </p>
                </div>
              </td>
            </tr>
          </table>
          <a class="c-button c-button--iconPen" href="#">エントリーはこちら</a>
        </section>
      </div>
    </div>
    <%- include("./../../include/_footer-common.ejs") %>
  </div>
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
</body>
</html>