<% title="エントリー" ; %>
  <% description="誰よりも身近なパートナーへ" ; %>
    <% pageName="recruit" ; %>

      <!DOCTYPE html>
      <html lang="ja">
      <%- include("./../../include/_head.ejs") %>

        <body>
          <div>
            <%- include("./../../include/_header-common.ejs") %>
              <div class="l-main">
                <section class="p-entry">
                  <h1 class="c-secondaryTitle">ENTRY
                    <span class="c-secondarySubtitle">- エントリー -</span>
                  </h1>
                  <form id="form_entry" action="">
                    <div class="p-entry__form">
                      <div class="c-stepbar">
                        <div class="c-stepbar__item c-stepbar__item--active">1.ご入力</div>
                        <div class="c-stepbar__item">2.ご確認</div>
                        <div class="c-stepbar__item">3.完了</div>
                      </div>
                      <p class="p-entry__category">WEBクリエイター</p>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <label class="p-entry__label" for="form_name">お名前</label>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_name">
                          <input class="p-entry__input" id="form_name" type="text" name="form_name" placeholder="例） 西梅田 太郎">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_kana">お名前(かな)</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_kana">
                          <input class="p-entry__input" id="form_kana" type="text" name="form_kana" placeholder="例） にしうめだ たろう">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_date">生年月日</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_date" >
                          <input class="p-entry__input" id="form_date" type="date" name="form_date" placeholder="例） XXXX/XX/XX">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_age">年齢</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_age" >
                          <input class="p-entry__input" id="form_age" type="text" name="form_age" placeholder="例） XX歳">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_email">メールアドレス</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_email">
                          <input class="p-entry__input" id="form_email" type="email" name="form_email" placeholder="例） example@mail.com">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_tel">電話番号</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_tel">
                          <input class="p-entry__input" id="form_tel" type="text" name="form_tel"
                            placeholder="例） 09012345678">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_education">最終学歴</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_education">
                          <input class="p-entry__input" id="form_education" type="text" name="form_education"
                            placeholder="例） 大学卒">
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_link">リンク</span>
                          <p class="c-squareLabel c-squareLabel--gray">任意</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_link">
                          <input class="p-entry__input" id="form_link" type="text" name="form_link"
                            placeholder="ポートフォリオ/制作実績/SNSアカウントなど">
                        </dd>
                      </dl>

                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_attached">履歴書</span>
                          <p class="c-squareLabel c-squareLabel--gray">任意</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_attached">
                          <label class="p-fileLabel">ファイルを選択

                            <input class="p-entry__input p-entry__input--noborder" name="attached_rirekisyo" id="rirekisyo" type="file" name="form_attached" accept="image/png, image/jpeg" />
                            <span class="mwform-file-delete p-entry__fileDelete" style="visibility: visible; display: none;">×</span>
                          </label>
                          <span data-mwform-file-delete="form_rirekisyo" class="mwform-file-delete" style="visibility: visible;">×</span>
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_attached">職務経歴書</span>
                          <p class="c-squareLabel c-squareLabel--gray">任意</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_attached">
                          <label class="p-fileLabel">ファイルを選択

                            <input class="p-entry__input p-entry__input--noborder" name="attached_syokureki" id="syokureki" type="file" name="form_attached" accept="image/png, image/jpeg" />
                            <span class="mwform-file-delete p-entry__fileDelete" style="visibility: visible; display: none;">×</span>
                          </label>
                          <span data-mwform-file-delete="form_rirekisyo" class="mwform-file-delete" style="visibility: visible;">×</span>
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_attached">その他</span>
                          <p class="c-squareLabel c-squareLabel--gray">任意</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_attached">
                          <label class="p-fileLabel">ファイルを選択
                            <input class="p-entry__input p-entry__input--noborder" name="attached_other" id="other" type="file" name="form_attached" accept="image/png, image/jpeg" />
                            <span class="mwform-file-delete p-entry__fileDelete" style="visibility: visible; display: none;">×</span>
                          </label>
                          <span data-mwform-file-delete="form_rirekisyo" class="mwform-file-delete" style="visibility: visible;">×</span>
                        </dd>
                      </dl>

                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_career">経歴</span>
                          <p class="c-squareLabel">必須</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_career">
                          <p class="p-entry__formText__comment">履歴書を添付していただく場合は「添付ファイル参照」とご記入ください。</p>
                          <textarea class="p-entry__textarea" id="form_career" name="form_career"
                            placeholder="簡単に経歴をご記入ください（XX年X月XX社退職 etc）"></textarea>
                        </dd>
                      </dl>
                      <dl class="p-entry__formItem">
                        <dt class="p-entry__formTitle">
                          <span class="p-entry__label" for="form_detail">その他</span>
                          <p class="c-squareLabel c-squareLabel--gray">任意</p>
                        </dt>
                        <dd class="p-entry__formText c-inputWrap--form_detail">
                          <textarea class="p-entry__textarea" id="form_detail" name="form_detail"
                            placeholder="お気軽にご質問・ご相談ください"></textarea>
                        </dd>
                      </dl>
                      <div class="p-entry__privacy">
                        <p class="p-entry__privacyText">弊社プライバシーポリシーを必ずご覧いただき、同意される場合はチェックを入れてください。</p>
                        <div class="p-entry__privacyUrl"><a class="p-entry__privacyUrl__link"
                            href="https://www.axcell-inc.jp/privacy/policy/"
                            >https://www.axcell-inc.jp/privacy/policy/</a></div>
                        <div class="p-entry__privacyAgree">
                            <input class="p-entry__checkbox" id="form_privacy" type="checkbox">
                            <label class="p-entry__agree" for="form_privacy">同意する</label>
                        </div>
                      </div>
                      <input class="c-button p-entry__submit p-entry__submit--disable" id="submit" disabled type="submit" value="入力内容を確認する">
                    </div>
                  </form>
                </section>
              </div>
              <%- include("./../../include/_footer-common.ejs") %>
          </div>
          <script src="/js/lib/jquery.min.js"></script>
          <script src="/js/lib/jquery.validate.min.js"></script>
          <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
        </body>

      </html>