
.c-primaryTitle {
  font-weight: normal;
}
.c-secondaryTitle {
  text-align: center;
  font-size: 40px;
  color: rgba(#918a8a, 0.3);
  padding: 50px 120px 40px;
}
.c-secondarySubtitle {
  display: block;
  margin-top: 10px;
  font-size: 30px;
  color: #4d3b3b;
  font-weight: bold;
}

.c-secondaryTitle-white {
  text-align: center;
  font-size: 40px;
  color: rgba(#ffffff, 0.7);
}
.c-secondarySubtitle-white {
  margin-top: 10px;
  font-size: 30px;
  color: #ffffff;
}
.c-pageLink {
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #707070;
  border-radius: 10px;
  padding: 13px  13px 13px 20px;
  box-sizing: border-box;
  font-size: 26px;
  color: #4d3b3b;
  transition: all 0.3s ease-out;
  &::after {
    content:'';
    width: 40px;
    height: 40px;
    background-image: url("/img/arrow_button.png");
    background-size: contain;
    transition: all 0.3s ease;
  }
}
.c-pageLink:hover {
  color: #ffffff;
  background-color: #4d3b3b;
  &::after {
    background-image: url("/img/arrow_button2.png")
  }
}
.c-link__header {
  display: block;
  padding: 10px 40px;
  color: rgba(50, 54, 56, 0.69);
}
.c-link__header-ham {
  color: rgba(50, 54, 56, 0.69);
  padding: 16px 22px;
  display: block;
}
.c-link__header-contact {
  color: rgba(50, 54, 56, 0.69);
  padding: 16px 22px;
  display: block;
}
.c-link__footer {
  display: block;
  color: rgba(50, 54, 56, 0.69);
}
.c-link__footer-contact {
  color: rgba(50, 54, 56, 0.69);
  padding: 16px 22px;
  display: block;
}
@media screen and (max-width: 768px) {
  .c-secondaryTitle {
    padding-right: 20px;
    padding-left: 20px;
  }
  .c-pageLink {
    max-width: 245px; 
    font-size: 13px;
    padding: 13px 22px;
    &::after {
      width: 24px;
      height: 24px;
    }
  }
  .c-link__footer-contact {
    padding: 10px;
  }
  .c-secondaryTitle-white {
    font-size: 30px;
  }
  .c-secondarySubtitle-white {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .c-secondaryTitle {
    font-size: 30px;
    padding-top: 60px;
  }
  .c-secondarySubtitle {
    margin-top: 10px;
    font-size: 20px;
  }
  .c-secondaryTitle-white {
    font-size: 30px;
    padding: 25px 20px 20px;
  }
  .c-secondarySubtitle-white {
    margin-top: 10px;
    font-size: 20px;
  }
}
.c-contentBox {
  max-width: 1080px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 20px;
  color: black;
  text-align: left;
  box-sizing: border-box;
  font-weight: normal;
}
.c-exampleBox {
  background-color: rgba(171,177,188,0.15);
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}
.c-serviceTitle {
  width: 180px;
  font-size: 40px;
  color: #4D3B3B;
  margin-bottom: 30px;
  padding: 10px 3px;
  background:linear-gradient(transparent 40%, #F4F416 40%);
}
.c-serviceTitle::after {
  border-bottom: 10px solid #F4F416;
}
.c-secondarySubtitle-gray {
  font-size: 30px;
  text-align: center;
  color: #ABB1B5;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 1080px) {
  .c-serviceTitle {
    margin: 0 auto 30px;
  }
  p-skillName li {
  padding: 4px 10px;
  }
}
@media screen and (max-width: 768px) {
  .c-contentBox {
    padding: 60px 30px;
  }
  .c-secondaryTitle {
    padding: 40px 30px;
    font-size: 30px;
  }
  .c-secondarySubtitle {
    margin-top: 10px;
    font-size: 20px;
  }
  .c-exampleBox {
    padding: 20px 10px;
  }
  .c-serviceTitle {
    width: 120px;
    font-size: 26px;
  }
  .p-serviceDetail {
    font-size: 16px;
    line-height: 26px;
}
}
@media screen and (max-width: 320px) {
  .c-secondarySubtitle {
    margin-top: 10px;
    font-size: 20px;
  }
  .c-secondaryTitle-white {
    font-size: 30px;
  }
  .c-secondarySubtitle-white {
    margin-top: 10px;
    font-size: 20px;
  }
  .c-contentBox {
    padding: 30px 20px;
  }
  .c-exampleBox {
    padding: 10px;
    box-sizing: border-box;
  }
  .c-serviceTitle {
    width: 100px;
    font-size: 20px;
    margin: 20px auto 20px 0;
    padding: 10px 3px;
    background:linear-gradient(transparent 40%, #F4F416 40%);
  }
  .c-secondarySubtitle-gray {
    font-size: 20px;
  }
}
.c-pannel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 55px;
}
.c-pannel__item {
  background-color: #fbfbfb;
  border: 3px solid #d8d6d5;
  width: calc((100% - 130px) / 3);
  padding: 30px 0 13px;
  text-align: center;
}
.c-pannel__title {
  color: #d8d6d5;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.c-pannel__body {
  color: #4d3d3d;
  font-size: 70px;
  font-weight: bold;
}
.c-bannerList {
  padding: 0 30px;
}
.c-bannerList__item {
  max-width: 900px;
  height: 250px;
  border-radius: 30px;
  background-color: #fbfbfb;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  display: flex;
}
.c-bannerList__item:hover{
  opacity: 0.8;
}
.c-banner {
  display: flex;
}
.c-banner__img {
  width: 25%;
  border-radius: 30px 0 0 30px;
  object-fit: cover;
}
.c-banner__body {
  max-width: 590px;
  padding: 30px;
  color: #4d3b3b;
  font-size: 16px;
}
.c-label {
  border: 1px solid #005c6e;
  border-radius: 30px;
  color: #005c6e;
  font-weight: bold;
  padding: 8px 16px;
  margin-top: 10px;
  display: inline-block;
}
.c-bannerList__item + .c-bannerList__item {
  margin-top: 60px;
}
.c-banner_title {
  font-weight: bold;
  font-size: 18px;
}
.c-banner__detail {
  line-height: 1.5;
  height: 95px;
  margin-top: 20px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .c-pannel {
    gap: 16px;
  }
  .c-pannel__item {
    width: calc((100% - 32px ) / 2);
    padding: 20px 0 13px;
  }
  .c-pannel__title {
    font-size: 14px;
  }
  .c-pannel__body {
    font-size: 36px;
  }
  .c-bannerList {
    padding: 0;
  }
  .c-bannerList__item {
    height: 300px;
  }
  .c-banner {
    flex-direction: column;
  }
  .c-banner__img {
    width: 100%;
    height: 40%;
    border-radius: 30px 30px 0 0;
  }
  .c-banner__body {
    padding: 20px;
    font-size: 14px;
  }
  .c-label {
    font-size: 12px;
    padding: 4px 8px;
    margin-top: 6px;
  }
  .c-bannerList__item + .c-bannerList__item {
    margin-top: 30px;
  }
  .c-banner_title {
    font-size: 14px;
  }
  .c-banner__detail {
    height: 90px;
    margin-top: 6px;
  }
}
//entry
//stepbar
.c-stepbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}
.c-stepbar .c-stepbar__item {
  position: relative;
  width: 33%;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background: #dfe1e2;
  color: #626e73;
}
.c-stepbar .c-stepbar__item:not(:last-child)::before,
.c-stepbar .c-stepbar__item:not(:last-child)::after {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 100%;
  content: '';
  border: 13px solid transparent;
  border-left: 10px solid #dfe1e2;
  margin: auto;
}
.c-stepbar .c-stepbar__item:not(:last-child)::before {
  margin-left: 1px;
  border-left-color: #f7f6f5;
}
// stepbar-active
.c-stepbar .c-stepbar__item.c-stepbar__item--active {
  z-index: 1;
  background: #005c6e;
  color: #f7f6f5;
}
.c-stepbar .c-stepbar__item.c-stepbar__item--active:not(:last-child)::after {
  border-left-color: #005c6e;
}
.c-stepbar .c-stepbar__item.c-stepbar__item--active:not(:last-child)::before {
  border-left: none;
}
//label
.c-squareLabel {
  border-radius: 5px;
  border: 1px solid #e1523d;
  color: #e1523d;
  padding: 4px 10px;
  margin-left: 15px;
  display: inline-block;
}
.c-squareLabel.c-squareLabel--gray {
  border: 1px solid#626e73;
  color: #626e73;
} 

//entry
@media screen and (max-width:768px) {
  //stepbar
  .c-stepbar {
    padding-top: 0;
  }
  .c-stepbar .c-stepbar__item {
    font-size: 11px;
    padding: 10px 0;
  }
  .c-stepbar .c-stepbar__item:not(:last-child)::before,
  .c-stepbar .c-stepbar__item:not(:last-child)::after {
    border-width: 16px;
    border-left-width: 10px;
  }
  //label
  .c-squareLabel {
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 6px;
  }
}
//詳細ページ
.c-table {
  &__row {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #d8d6d5;
  }
  &__row:first-child {
    border-top: 1px solid #4d3b3b;
  }
  &__row:last-child {
    border: none;
  }
  &__title,
  &__detail {
    padding: 20px 0;
    border: none;
  }
  &__title {
    width: 20%;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
  }
}
.c-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin:60px auto 0;
  padding: 15px 100px;
  border-radius: 10px;
  color: #fbfbfb;
  background-color: #005c6e;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
.c-button.c-button--iconPen {
  background: #005c6e url("/img/icon_pen.png") no-repeat 50px center / 20px auto;
}

@media screen and (max-width: 768px) {
  .c-table {
    &__row {
      font-size: 14px;
    }
    &__title,
    &__detail {
      padding: 20px 0;
      border: none;
      width: 100%;
      display: block;
    }
    &__title {
      width: 100%;
      padding-left: 0px;
      border-bottom: dotted 2px rgba(#918a8a, 0.25);
    }
  }
  .c-button {
    width: 240px;
    margin:40px auto 0;
    padding: 15px 10px;
    font-size: 14px;
  }
  .c-button.c-button--iconPen {
    background: #005c6e url("/img/icon_pen.png") no-repeat 25px center / 20px auto;
  }
}