<% title = "トップ"; %>
<% description = "誰よりも身近なパートナーへ"; %>
<% pageName = "top"; %>

<!DOCTYPE html>
<html lang="ja">
<%- include("./../include/_head.ejs") %>
<body>
<div>
  <%- include("./../include/_header-top.ejs") %>
  <div class="l-main">
    <div class="l-mainVisual">
      <div class="l-mainVisual__box">
        <div class="l-mainVisualBox__text">誰よりも身近なパートナーへ</div>
      </div>
    </div>
    <section id="service">
      <h2 class="c-secondaryTitle p-service"> 
        OUR SERVICE
        <span class="c-secondarySubtitle">- 事業内容 -</span>
      </h2>
      <ul class="p-service__wrap">
        <li class="p-service__cassette">
          <div class="p-service__inner">
            <img class="p-service__img" src="/img/service_img1.jpg" alt="">
            <div class="p-service__title">SES事業</div>
            <div class="p-service__overview js-matchHeight">
              <p class="p-serviceOverview__text">弊社は分野を絞らず幅広い業界に対応できるよう、協力会社様とのネットワークも活かしプログラマ・エンジニアなどのＩＴ要員やＨＴＭＬコーダー・デザイナーなどのWeb制作要員など、お客様のニーズにあった要員を整えております。</p>
              <p class="p-serviceOverview__text">契約形態においてもお客様の要望にて柔軟に対応が可能です。また、弊社ではSES事業にてご協業いただけるビジネスパートナー様を募集しております。是非お気軽にお問合せ下さい。</p>
            </div>
            <a class="c-pageLink" href="/service/index.html#ses">
              詳しくはこちら
            </a>
          </div>
        </li>
        <li class="p-service__cassette">
          <div class="p-service__inner">
            <img class="p-service__img" src="/img/service_img2.jpg" alt="">
            <div class="p-service__title">受託事業</div>
            <div class="p-service__overview js-matchHeight">
              <p class="p-serviceOverview__text">主にLPを中心にお客様からの要望を踏まえ、サイトを制作しております。納品期日は当然の事、お客様が不安にならないよう丁寧なコミュニケーションや素早いレスポンスを大事にし、徹底しております。</p>
              <p class="p-serviceOverview__text">費用につきましても柔軟に対応致しておりますのでお気軽にご相談ください。</p>
            </div>
            <a class="c-pageLink" href="/service/index.html#jutaku">
              詳しくはこちら
            </a>
          </div>
        </li>
        <li class="p-service__cassette">
          <div class="p-service__inner">
            <img class="p-service__img" src="/img/service_img2.jpg" alt="">
            <div class="p-service__title">受託事業</div>
            <div class="p-service__overview js-matchHeight">
              <p class="p-serviceOverview__text">主にLPを中心にお客様からの要望を踏まえ、サイトを制作しております。納品期日は当然の事、お客様が不安にならないよう丁寧なコミュニケーションや素早いレスポンスを大事にし、徹底しております。</p>
              <p class="p-serviceOverview__text">費用につきましても柔軟に対応致しておりますのでお気軽にご相談ください。</p>
            </div>
            <a class="c-pageLink" href="/service/index.html#jutaku">
              詳しくはこちら
            </a>
          </div>
        </li>
      </ul>
    </section>
    <section id="company">
      <h2 class="c-secondaryTitle p-company"> 
        COMPANY
        <span class="c-secondarySubtitle">- 会社概要 -</span>
      </h2>
      <div>
        <div class="p-company__inner">
          <img class="p-companyImage" src="/img/company_img.jpg" alt="オフィスの写真">
          <div class="p-company__overview">株式会社アクセル IT・Web事業部
            <ul class="p-companyOverview__list">
              <li>東京都新宿区西新宿2-1-1新宿三井ビルディング36F</li>
              <li>TEL: 03-6304-5221 / FAX: 03-6304-5231</li>
            </ul>
            <a class="c-pageLink" href="/company/index.html">
              詳しくはこちら
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <h2 class="c-secondaryTitle-white p-contact"> 
        CONTACT
        <span class="c-secondarySubtitle-white">- お問い合わせ -</span>
      </h2>
      <div>
        <ul class="p-contact__list">
          <li>SES事業<br>パートナー<br>募集</li>
          <li>受託事業<br>について</li>
          <li>採用<br>について</li>
        </ul>
        <div class="p-contact__head">まずはお問い合わせください</div>
        <div class="p-contact__box">
          <a class="p-contactBox__text" href="/contact/index.html" >お問い合わせフォームへ</a>
        </div>
      </div>
    </section>
  </div>
  <%- include("./../include/_footer-top.ejs") %>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery.matchHeight-min.js"></script>
<script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
</body>
</html>
