@import "../../../foundation/_base.scss";
@import "../../../foundation/_reset.scss";
@import "../../../foundation/_var.scss";
@import "../../../object/utility/_utility.scss";
@import "../../../layout/_content.scss";
@import "../../../layout/_footer.scss";
@import "../../../layout/_header.scss";
@import "../../../layout/_main.scss";
@import "../../../object/component/_component.scss";

.p-company {
  background-color: #fbfbfb;
  padding-top: 120px;
  &__inner {
    padding: 60px 40px;
    display: flex;
    justify-content: center;
  }
  &__map {
    margin-right: 80px;
  }
  &Overview {
    &__title {
      margin-bottom: 28px;
      font-size: 26px;
      color: #4d3b3b;
    }
    &__title + .p-companyOverview__lists {
      margin-bottom: 60px;
    }
    &__lists {
      padding: 0 15px;
      color: #000;
      font-size: 18px;
      > li {
        letter-spacing: 0.02em;
      }
      > li + li {
        margin-top: 16px;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .p-company {
    &__inner {
      display: block;
      text-align: center;
    }
    &__map {
      max-width: 450px;
      margin: 0 auto;
      height: 250px;
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
    &__overview {
      display: inline-block;
      margin-left: 0;
      margin-top: 60px;
    }
  }
}
@media screen and (max-width: 768px) {
  .c-link__footer-contact {
    padding: 10px;
  }
  .p-company {
    padding-top: 130px;
    &__inner {
      padding: 40px 15px;
    }
    &__overview {
      margin-top: 72px;
      font-size: 20px;
    }
    &Overview {
      &__title {
        font-size: 18px;
      }
      &__lists {
        font-size: 12px;
        > li {
          line-height: 1.5;
        }
      }
    }
  }
}
