@import "../../../foundation/_base.scss";
@import "../../../foundation/_reset.scss";
@import "../../../foundation/_var.scss";
@import "../../../object/utility/_utility.scss";
@import "../../../layout/_content.scss";
@import "../../../layout/_footer.scss";
@import "../../../layout/_header.scss";
@import "../../../layout/_main.scss";
@import "../../../object/component/_component.scss";
.l-main {
  width: 100%;
}
.l-mainVisual {
  background-image: url("/img/mainvisual_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 12%;
  padding: 475px 0 278px 63px;
  &__box {
    background-color: #f4f416;
    position: relative;
    width: 570px;
    height: 50px;
  }
  &Box__text {
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 40px;
    color: #4d3b3b;
  }
}
#service{
  background-color: #f7f6f5;
}
.p-service {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1090px;
    margin: 0 auto;
  }
  &__cassette {
    padding:0 20px 40px;
  }
  &__inner {
    max-width: 500px;
    box-sizing: border-box;
    padding: 30px 60px;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__title {
    width: 124px;
    font-size: 30px;
    color: #4d3b3b;
    margin-bottom: 30px;
    padding: 10px 3px;
    background: linear-gradient(transparent 55%, #F4F416 40%);
  }
  &__box {
    background-color: #f4f416;
    width: 124px;
    height: 20px;
    position: relative;
    margin: 40px 0 17px;
  }
  &Box__text {
    position: absolute;
    top: -23px;
    font-size: 30px;
    color: #4d3b3b;
  }
  &__overview {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 40px;
  }
  &Overview__text {
    width: 100%;
  }
}
#access {
  background-color: #fbfbfb;
}
.p-company {
  background-color: #fbfbfb;
  &__inner {
    display: flex;
    justify-content: center;
    padding:0 20px 80px;
    background-color: #fbfbfb;
  }
  &Image {
    max-width: 400px;
    margin-right: 80px;
  }
  &__overview {
    font-size: 30px;
    color: #4d3b3b;
    text-align: left;
    font-weight: bold;
  }
  &Overview__list {
    margin: 60px 0;
    li {
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
    }
  }
}
#contact {
  background-image: url("/img/contact_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 40px;
  color: rgba(#ffffff, 0.7);
  padding: 50px 0 120px;
  font-weight: bold;
}
.p-contact {
  &__list {
    padding: 60px 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    li {
      width: 180px;
      height: 180px;
      background-color: #fbfbfb;
      border-radius: 100px;
      margin-right: 30px;
      padding: 63px 50px;
      box-sizing: border-box;
      font-size: 20px;
      color: #645858;
      line-height: normal;
      &:first-child {
        padding: 50px 40px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__head {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &__box {
    background-color: #f4f416;
    max-width: 495px;
    border-radius: 50px;
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  &Box__text {
    font-size: 30px;
    color: #4d3b3b;
    display: block;
    padding: 42px 80px;
  }
}
@media screen and (max-width: 1080px) {
  .p-service {
    &__wrap {
      display: block;
    }
    &__inner {
      margin: 0 auto;
    }
  }
  .p-service__cassette{
    padding-bottom: 60px;
  }
  .p-company {
    &__inner {
      display: block;
      padding-bottom: 70px;
    }
    &Image {
      margin: 0 auto;
    }
    &__overview {
      margin: 30px 0 0;
      text-align: center;
    }
    &Overview {
      &__address {
        margin-top: 40px;
      }
      &__number {
        margin-bottom: 40px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .l-mainVisual {
    padding: 280px 0 180px 10px;
    &__box {
      width: 310px;
      height: 30px;
    }
    &Box__text {
      font-size: 23px;
      top: -10px;
      right: 10px;
    }
  }
  .p-service {
    &__inner {
      max-width: 400px;
      padding: 30px 40px;
    }
    &__title {
      width: 112px;
      margin: 15px 0 25px;
      font-size: 25px;
    }
    &__overview {
      font-size: 13px;
    }
  }
  .p-company {
    &__inner {
      margin: 0 auto;
    }
    &Image {
      width: 100%;
    }
    &__overview {
      font-size: 20px;
    }
    &Overview__list  {
      li {
        font-size: 15px;
      }
    }
  }
  .p-contact {
    &__list {
      padding: 40px 0 0;
      margin-bottom: 40px;
      li {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        padding: 30px 15px;
        font-size: 12px;
        &:first-child {
          padding: 25px 20px;
        }
      }
    }
    &__head {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__box {
      max-width: 280px;
    }
    &Box__text {
      font-size: 18px;
      padding: 30px;
    }
  }
}
@media screen and (max-width: 320px) {
  .l-mainVisual {
    padding: 190px 0 140px 15px;
    &__box {
      width: 260px;
      height: 20px;
    }
    &Box__text {
      font-size: 19px;
      top: -10px;
      right: 10px;
    }
  }
  .p-service {
    &__inner {
      padding: 50px 20px;
    }
    &__overview {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }
  .p-company {
    background-color: #f7f6f5;
    &__inner {
      padding: 30px 0 65px;
      background-color: #f7f6f5;
    }
    &Image {
      max-width: 240px;
    }
    &__overview {
      font-size: 15px;
    }
    &Overview__list {
      margin: 30px 0;
      li {
        font-size: 10px;
      }
    }
  }
  #contact {
    padding: 0 0 60px;
  }
  .p-contact {
    &__list {
      padding: 0;
      margin-bottom: 20px;
      li {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        padding: 25px 16px;
        font-size: 12px;
        &:first-child {
          padding: 16px 10px;
        }
      }
    }
    &__head {
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__box {
      max-width: 280px;
    }
  }
}