<% title = "サービス"; %>
<% description = "誰よりも身近なパートナーへ"; %>
<% pageName = "service"; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include("./../../include/_head.ejs") %>
<body>
  <div>
    <%- include("./../../include/_header-common.ejs") %>
    <div class="l-main">
      <section class="p-service">
        <h1 class="c-secondaryTitle">OUR SERVICE
          <span class="c-secondarySubtitle">- 事業内容 -</span>
        </h1>
        <div id="ses">
          <div class="p-contentBox p-service-first">
            <div class="p-serviceSes">
              <img class="p-servicePic" src="/img/service_img1.jpg" alt="">
              <div class="p-serviceBox">
                <div class="p-serviceTitle">SES事業</div>
                <p class="p-serviceDetail">弊社は分野を絞らず幅広い業界に対応できるよう、
                  協力会社様とのネットワークも活かしプログラマ・エンジニアなどのＩＴ要員やＨＴＭＬコーダー・デザイナーなどのWeb制作要員など、
                  お客様のニーズにあった要員を整えております。
                  契約形態においてもお客様の要望にて柔軟に対応が可能です。
                  また、弊社ではSES事業にてご協業いただけるビジネスパートナー様を募集しております。是非お気軽にお問合せ下さい。
                </p>
              </div> 
            </div>
            <div class="p-exampleBox">
              <div class="p-secondarySubtitle-gray">- 参画実績 -</div>
              <ul class="p-skills">
                <li class="p-skillSet">
                  <img class="p-skillPic" src="/img/icon_pc.png" alt="">
                  <div>
                    <div class="p-skillWork">Webサイト制作</div>
                    <ul class="p-skillName">
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>Sass</li>
                      <li>WordPress</li>
                      <li>JavaScript</li>
                      <li>PHP</li>
                      <li>Vue.js</li>
                    </ul>
                  </div>
                </li>
                <li class="p-skillSet">
                  <img class="p-skillPic" src="/img/icon_ec.png" alt="">
                  <div>
                    <div class="p-skillWork">ECサイト制作</div>
                    <ul class="p-skillName">
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>JavaScript</li>
                      <li>jQuery</li>
                    </ul>
                  </div>
                </li>
                <li class="p-skillSet">
                  <img class="p-skillPic" src="/img/icon_phone.png" alt="">
                  <div>
                    <div class="p-skillWork">スマホアプリ開発・改修・保守</div>
                    <ul class="p-skillName">
                      <li>swift</li>
                      <li>java</li>
                      <li>groovy</li>
                      <li>Bash</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="jutaku">
          <div class="p-contentBox">
            <div class="p-serviceSes p-serviceLp">
              <img class="p-servicePic" src="/img/service_img2.jpg" alt="">
              <div class="p-serviceBox">
                <div class="p-serviceTitle">受託事業</div>
                <p class="p-serviceDetail">主にLPを中心にお客様からの要望を踏まえ、サイトを制作しております。
                  納品期日は当然の事、お客様にご不安な思いをおかけしないよう丁寧なコミュニケーションや素早いレスポンスを大事にし、徹底しております。
                  費用につきましても柔軟に対応致しておりますのでお気軽にご相談ください。
                </p>
              </div> 
            </div>
            <div class="p-exampleBox">
              <div class="p-secondarySubtitle-gray">- 制作実績 -</div>
              <ul class="p-examplePicSet">
                <li>
                  <img class="p-examplePic" src="/img/homepage_demo.png" alt="">
                </li>
              </ul>
              <ul class="p-exampleDetail">
                <li>総合広告代理店企業 企業紹介LP</li>
                <li>人材コンサル企業 転職支援LP</li>
                <li>アパレル企業 商品LP</li>
                <li>Web関連企業 コンサルLP</li>
              </ul>
              <div class="p-more">and more..</div>
              <div class="p-exampleSet__text">※詳しくはお問い合わせ下さいませ。</div>
            </div>
          </div>
        </div>
      </section>
  </div>
    <%- include("./../../include/_footer-common.ejs") %>
  </div>
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
</body>
</html>