// pass
$css: "http://localhost:3000/css/";
$img: "http://localhost:3000/img/";
$js: "http://localhost:3000/js/";
// break point
$sp: 768px;
// color
$black:  #707070;
$red:  #b22c02;
$blue:  #4032fc;
$green:  #6cc6c4;
$gray: #bfbfbf;