<% title="お問い合わせ" ; %>
  <% description="誰よりも身近なパートナーへ" ; %>
    <% pageName="contact" ; %>

      <!DOCTYPE html>
      <html lang="ja">
      <%- include("./../../include/_head.ejs") %>

        <body>
          <div>
            <%- include("./../../include/_header-common.ejs") %>
              <div class="l-main">
                <section class="p-contact">
                  <h1 class="c-secondaryTitle">CONTACT
                    <span class="c-secondarySubtitle">- お問い合わせ -</span>
                  </h1>
                  <form id="form_contact" action="">
                    <div class="p-contact__form">
                      <p class="p-contact__lead">株式会社アクセル Web・IT事業部への<span class="p-contact__lead__text">ご依頼・お問い合わせ内容をご記載ください。</span></p>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_name">お名前</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_name">
                          <input class="p-contact__input" id="form_name" type="text" name="form_name" placeholder="西梅田　太郎">
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_kana">お名前(かな)</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_kana">
                          <input class="p-contact__input" id="form_kana" type="text" name="form_kana" placeholder="にしうめだ　たろう">
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_corp">会社名</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_corp" >
                          <input class="p-contact__input" id="form_corp" type="text" name="form_corp" placeholder="株式会社　アクセル">
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_email">メールアドレス</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_email">
                          <input class="p-contact__input" id="form_email" type="email" name="form_email" placeholder="半角英数字で入力してください">
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_tel">電話番号</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_tel">
                          <input class="p-contact__input" id="form_tel" type="text" name="form_tel"
                            placeholder="ハイフン＂-＂抜き、半角英数字で入力してください">
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_kind">お問い合わせの種類</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_kind">
                          <div class="p-contact__selectWrap">
                            <select class="p-contact__select" id="form_kind" name="form_kind">
                              <option value="">お問い合わせの種類を選択してください</option>
                              <option value="SESの依頼">SESの依頼</option>
                              <option value="web制作の依頼">web制作の依頼</option>
                              <option value="その他">その他</option>
                            </select>
                          </div>
                        </dd>
                      </dl>
                      <dl class="p-contact__formItem">
                        <dt class="p-contact__formTitle">
                          <label class="p-contact__label" for="form_detail">お問い合わせ内容詳細</label>
                        </dt>
                        <dd class="p-contact__formText c-inputWrap--form_detail">
                          <textarea class="p-contact__textarea" id="form_detail" name="form_detail"
                            placeholder="お気軽にご質問・ご相談ください"></textarea>
                        </dd>
                      </dl>
                      <div class="p-contact__privacy">
                        <p class="p-contact__privacyText">弊社プライバシーポリシーを必ずご覧いただき、同意される場合はチェックを入れてください。</p>
                        <div class="p-contact__privacyUrl"><a class="p-contact__privacyUrl__link"
                            href="https://www.axcell-inc.jp/privacy/policy/"
                            >https://www.axcell-inc.jp/privacy/policy/</a></div>
                        <div class="p-contact__privacyAgree">
                            <input class="p-contact__checkbox" id="form_privacy" type="checkbox">
                            <label class="p-contact__agree" for="form_privacy">同意する</label>
                        </div>
                      </div>
                      <input class="p-contact__submit p-contact__submit--disable" id="submit" disabled type="submit" value="送  信">
                    </div>
                  </form>
                </section>
              </div>
              <%- include("./../../include/_footer-common.ejs") %>
          </div>
          <script src="/js/lib/jquery.min.js"></script>
          <script src="/js/lib/jquery.validate.min.js"></script>
          <script src="/js/<%= pageName %>/<%= pageName %>.js"></script>
        </body>

      </html>