@import "../../../foundation/_base.scss";
@import "../../../foundation/_reset.scss";
@import "../../../foundation/_var.scss";
@import "../../../object/utility/_utility.scss";
@import "../../../layout/_content.scss";
@import "../../../layout/_footer.scss";
@import "../../../layout/_header.scss";
@import "../../../layout/_main.scss";
@import "../../../object/component/_component.scss";
.p-service {
  padding: 120px 60px 40px;
  background-color: #f7f6f5;
}

.p-serviceTitle {
  width: 180px;
  font-size: 40px;
  color: #4D3B3B;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px 3px;
  text-align: center;
  background:linear-gradient(transparent 40%, #F4F416 40%);
}

.p-secondarySubtitle {
  margin: 10px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #4d3b3b;
  font-weight: bold;
}

.p-service-first {
  margin: 0 auto 60px !important;
}

.p-serviceSes {
  display: flex;
  align-items: center;
  margin-bottom: 50px; 
}

.p-serviceLp {
  align-items: flex-start;
}

.p-secondarySubtitle-gray {
  font-size: 30px;
  text-align: center;
  color: #4d3b3b;
  font-weight: bold;
  margin-bottom: 40px;
}

.p-exampleBox {
  background-color: rgba(171, 177, 188, 0.15);
  box-sizing: border-box;
  margin: 0px auto;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

.p-contentBox {
  max-width: 1080px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 20px;
  color: black;
  text-align: left;
  box-sizing: border-box;
  font-weight: normal;
}

.p-servicePic {
  width: 100%;
  max-width: 400px;
  margin-right: 50px;
}

.p-serviceDetail {
  font-size: 18px;
  line-height: 1.6;
}

.p-skillSet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.p-skillSet:last-child{
  margin-bottom: none;
}

.p-skillWork {
  font-size: 25px;
  font-weight: bold;
  color: #5f5151;
  margin: 7px;
  text-align: left;
}

.p-skillName {
  display: flex;
  flex-wrap: wrap;
}

.p-skillName li {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 4px 15px;
  background-color: #346ad6;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.p-skillSet:last-child {
  margin-bottom: 0;
}

.p-skillPic {
  width: 80px;
  margin-right: 37px;
}

.p-examplePicSet {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 30px;

  li {
    margin-right: 20px;
    &:last-child() {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}

.p-examplePic {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.p-more {
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
  text-align: right;
}

.p-exampleSet__text {
  font-size: 20px;
  margin: 20px 0;
}

.p-exampleDetail {
  display: inline-block;
  line-height: normal;
  margin-bottom: 10px;
  li {
    font-size: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 1080px) {
  .p-serviceSes {
    display: block;
  }

  .p-serviceBox {
    padding: 0;
    margin-left: 0;
  }

  .p-servicePic {
    margin: 0 auto 20px;
  }

  .p-examplePic {
    margin: 0 auto 20px;
  }

  .p-skillSet {
    align-items: center;
    margin-bottom: 40px
  }

  .p-skillName li {
    font-size: 16px;
  }

} 
@media screen and (max-width: 768px) {

  .p-service {
    padding: 70px 15px;
  }

  .p-secondarySubtitle {
    margin-top: 10px;
    font-size: 20px;
  }

  .p-serviceTitle {
    width: 100px;
    font-size: 20px;
    margin: 20px auto 20px 0;
    padding: 10px 3px;
    background:linear-gradient(transparent 40%, #F4F416 40%);
  }

  .p-secondarySubtitle-gray {
    font-size: 20px;
  }

  .p-serviceDetail {
    font-size: 13px;
  }

  .p-exampleBox {
    padding: 20px 10px;
  }

  .p-contentBox {
    padding: 60px 20px;
  }

  .p-skillSet {
    display: block;
  }

  .p-skillWork {
    font-size: 20px;
    color: #5f5151;
    margin: 20px;
    text-align: center;
  }

  .p-skillPic {
    width: 50px;
    margin: 0 auto;
  }

  .p-examplePicSet {
    display: block;
    li {
      margin: 0;
    }
  }

  .p-examplePic {
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
  }

  .p-exampleCompany {
    margin-bottom: 10px;
  }

  .p-skillName {
    justify-content: center;
  }

  .p-skillName li {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 4px 10px;
    background-color: #346ad6;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .p-exampleDetail {
    li {
      font-size: 13px;
    }
  }

  .p-more {
    font-size: 13px;
    max-width: 300px;
    margin: 0 auto;
    text-align: right;
  }
  
  .p-exampleSet__text {
    font-size: 13px;
    margin: 10px 0;
  }
  
}
