.l-footer {
  background-color: #f0f2f2;
  box-sizing: border-box;
  padding: 40px 26px 20px;
  color: rgba(50, 54, 56, 0.69);
  font-size: 16px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &Logo__inner {
    display: block;
  }
  &Logo__image {
    width: 240px;
    opacity: 0.69;
  }
  &Logo__text {
    margin-top: 6px;
    font-size: 14px;
    color: rgba(50, 54, 56, 0.69);
  }
  &__menu {
    display: flex;
    align-items: center;

    li {
      padding: 10px 40px;
      border-right: solid 1px rgba(50, 54, 56, 0.69);
      
      &:first-child {
        border-left: solid 1px rgba(50, 54, 56, 0.69);
      }
      
      &:last-child {
        border-right: none
      }

      &:has(.c-link__footer.c-link__footer-contact) {
        position: relative;
        padding-left: 35px;

        &::before {
          content: "お問い合わせ";
          color: transparent;
        }
      }
      
      .c-link__footer.c-link__footer-contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color:rgba(50, 54, 56, 0.69);
        background-color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        white-space: nowrap;
      }
    }
  }
  &__address  {
    margin-top: 20px;
    font-size: 16px;
  }
  &__number {
    margin-top: 10px;
    font-size: 16px;
  }
  &__copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .l-footer {
    &__inner {
      flex-direction: column;
    }
    &__logo {
      order: 2;
      margin-top: 26px;
    }
    &__menu {
      order:1;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      li {
        &:first-child {
          border-left: none
        }
      }
    }
  }
}
@media screen and (max-width: 768px)  {
  .l-footer {
    padding: 20px;
    &__menu {
      font-size: 10px;
      li {
        padding: 5px 12px;
        &:first-child {
          padding-left: 0;
        }
        &:has(.c-link__footer.c-link__footer-contact) {
          padding-left: 12px;
        }
      }
    }
    &__address  {
      font-size: 12px;
    }
    &__number {
      font-size: 12px;
    }
    &__copyright {
      margin-top: 30px;
      font-size: 10px;
    }
  }
}
