.l-header {
  position: fixed;
  width: 100%;
  z-index: 4;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 26px;
    box-sizing: border-box;
    background-color: #f0f2f2;
  }
  &__logo {
    margin-right: 16px;
  }
  &Logo__inner {
    display: block;
  }
  &Logo__image {
    width: 240px;
    opacity: 0.69;
  }
  &Logo__text {
    display: block;
    color: rgba(50, 54, 56, 0.69);
    font-size: 14px;
    margin-top: 6px;
  }
  &__menu {
    li {
      display: inline-block;
      border-left: solid 1px rgba(50, 54, 56, 0.69);
      color: rgba(50, 54, 56, 0.69);
      &:nth-last-child(2) {
        border-right: solid 1px rgba(50, 54, 56, 0.69);
      }
      &:last-child {
        border: none;
        margin-left: 30px;
        background-color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
      }
    }
  }
  &__sp {
    display: none;
    width: 100%;
    height: 100vh;
  }
  &Sp__inner {
    background-color: #f0f2f2;
  }
}
.header__menu__top{
  display: inline-block;
  color: rgba(50, 54, 56, 0.69);
}
.l-hamburgerMenu {
  display: none;
  width: 35px;
  cursor: pointer;
  li {
    border-bottom: solid 3px rgba(50, 54, 56, 0.69);
    margin-top: 7px;
    &:first-child {
      margin-top: 0px;
    }
  }
}
@media screen and (max-width: 768px)  {
  .l-header {
    &__menu {
      display: none;
    }
    &__inner {
      padding: 15px 20px;
    }
    &Logo__image {
      width: 180px;
    }
    &Logo__text {
      font-size: 10px;
    }
    &Sp {
      &__inner {
        padding: 20px 30px 54px;
      }
      &__menu {
        li {
          color: rgba(50, 54, 56, 0.69);
          border-bottom: solid 1px rgba(50, 54, 56, 0.69);
        }
      }
    }
  }
  .l-hamburgerMenu {
    display: block;
    width: 30px;
  }
}
